*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.directory
app/release/
./schools/schools.java

# Fastlane
fastlane/report.xml
fastlane/README.md
Gemfile
Gemfile.lock
fastlane_config.txt